body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Color de fondo de la pantalla */
    color: #343435; /* Color de texto principal */
}


.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #ffffff !important; /* Color de fondo del formulario */
    color: #ffffff !important; /* Color de las letras */
}

.navbar.navbar-expand-lg.bg-body-tertiary a {
    color: #99C33A !important; /* Color de los enlaces */
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filter-input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #99C33A;
    background-color: #ffffff; /* Color de fondo de los campos de entrada */
    color: #99C33A; /* Color de texto de los campos de entrada */
    width: 100%;
}



.filter-button:hover {
    background-color: #0056b3;
}

.report-card {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
    background-color: #525252; /* Color de fondo del formulario */
    color: #99C33A; /* Color de texto de los campos de entrada */
    position: relative;
}
.arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em; 
    margin-right: 30px;
    color: #99C33A;
  }

img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.round-button {
    border-radius: 50%; 
    padding: 10px; 
    border: 2px solid black;
    background-color: rgb(255, 255, 255); 
    color: #99C33A; 
    width: 55px;
    font-size: 20px;
  }

  .modal-content {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .modal-header {
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-title {
    color: #495057;
  }
  
  .modal-body {
    color: #212529;
  }
  
  .report-criteria p {
    margin-bottom: 0.5rem;
  }
  
  .report-criteria p strong {
    color: #495057;
  }
  
  .modal-footer {
    border-top: 1px solid #dee2e6;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .centered-button {
    display: block;
    margin: 0 auto;
    background-color:  rgb(255, 255, 255); ;
    color: #495057;
    margin-top: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh; 
}
.custom-button {
  border-radius: 0; 
  background-color: #4CAF50; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
  border-radius: 20px;
  transition-duration: 0.4s; 
}

.custom-button:hover {
  background-color: #45a049; 
  color: white; 
}

