<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    </head>
    <body>
      <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><img src="assets\images\Logo.png" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" href="home" >Criteria</a>
              </li>
             
            </ul>
            <div class="d-flex align-items-center">
              <button class="round-button">{{name[0]}}</button>
            </div>
          </div>
        </div>
      </nav>
    </body>
      <div class="report-card"  >
        <p>ID: {{ report?.iD1 }}</p>
        <p>Name Report: {{ report?.namE_REPORT1 }}</p>
        <p>Description: {{ report?.descriptioN1 }}</p>
        <p>SQL Criteria: {{ report?.sqL_CRITERIA1 }}</p>
        <p>URL Template: {{ report?.urL_TEMPLATE1 }}</p>
      </div>
   
      <div *ngFor="let criterion of criteria" style="text-align: center;">
        <div *ngIf="criterion.type1 === 'text'">
          <label>Nombre</label>
          <input type="text"  [(ngModel)]="criterion.value" >
        </div>  
        <div *ngIf="criterion.type1 === 'date'">
          <label>Fecha inicial</label>
          <input type="date" [value]="criterion.type1">
          <label>Fecha final</label>
          <input type="date" [value]="criterion.type1">
        </div>
        <div *ngIf="criterion.type1 === 'select'">
          <select>
            <option *ngFor="let option of criterion.options" [value]="option.value">
              {{option.label}}
            </option>
          </select>
        </div>
      </div>
      

      <button (click)="generarInformeInvoice()" class="centered-button">Generar Informe</button>
      <button (click)="MandarCorreo()">Mandar Correo</button>

      <ngx-extended-pdf-viewer [src]="pdfFile" useBrowserLocale="true" height="80vh" [showDownloadButton]="true"></ngx-extended-pdf-viewer>
      
      