<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    </head>
    <body>
      <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link" href="#">ATM</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Search ATM</a></li>
                  <li><a class="dropdown-item" href="#">Report Errors</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">About Us</a></li>
                </ul>
              </li>
            </ul>
            <div class="d-flex align-items-center">
              <span>{{name}}!</span>
            </div>
          </div>
        </div>
      </nav>
      </body>
      <div class="filter-container">
        <input [(ngModel)]="dateFilter" type="date" (change)="filterReports()">
        <input [(ngModel)]="textFilter" type="text" (keyup)="filterReports()">
        <button (click)="getReports()">Filter Reports</button>
      
        <div *ngFor="let report of filteredReports">
          <!-- Render report -->
        </div>
      </div>